/* 
    //////////////////////////////////////////////////////

    INTELLIGENT BOX
    DESIGNED & DEVELOPED by Manirabona Patience
    
    author: Mnirabona Patience,
    Email:  Hseal419@gmail.com,
    location: Kigali,Rwanda,
    pro: Intelligent Box E-learning,
    version: 1.0.0
    
	//////////////////////////////////////////////////////
*/

 /* external font family */
 /* ====================================================================================================================================== */
 /* ====================================================================================================================================== */
 @font-face {font-family: 'roboto_bold';src: url('../fonts/Roboto/Roboto-Bold.ttf');} 
 @font-face{font-family: 'roboto_regular';src: url('../fonts/Roboto/Roboto-Regular.ttf');}
 @font-face{font-family: 'baskvile';src: url('../fonts/baskerville/BASKVILL.TTF');}
 @font-face{font-family: 'roboto_medium';src: url('../fonts/Roboto/Roboto-Medium.ttf');}

/* apply on scroll bar */
/* ========================================================================================================================================= */
/* width */
 ::-webkit-scrollbar {
     width: 10px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
     background: white; 
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
     background: #041a2f;
     border-radius: 4px; 
 }

/* body style */
/* ========================================================================================================================================= */
body{
   padding: 0;
   margin: 0;
   font-family: roboto_regular;
}
.down-lord{
    margin-top: 80px;
    height: 100%;
}
.history-post{
    margin-top: 30px;
    background: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
}

/* left side section */
/* ======================================================================================================================================== */
.left-side-section{
    margin: 0 auto;
}
.top-background-image{
    position: relative;
    background: white;
    height: 280px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 4px 4px 8px 4px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
}
.top-background-image img{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 100%;
    object-fit: fill;
}
.over-profile-detail{
    position: absolute;
    right: 38%;
    bottom: 30px;
    text-align: center;
}
.user_profile_image{
    width: 150px;
    height: 145px;
    background: white;
    padding: 5px;
    border-radius: 50%;
    margin-left: 15px;
}
.user_profile_image img{
    border-radius: 50%;
    object-fit: fill;
}
.top-name-pre{
    font-family: roboto_bold;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: white;
    margin-top: 15px;
}

.autobio_book{
    font-family: roboto_bold;
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    line-height: 19px;
    font-weight: 570;
    background: #071c2e;
    padding: 10px;
    border-radius: 4px;
    color: white;
}
.sub-full-desc{
    font-family: roboto_regular;
    width: 100%;
    letter-spacing: 0.5px;
    line-height: 19px;
}
.upload_auto{
    background: #041a2f;
    color: white;
    font-family: roboto_bold;
    letter-spacing: 0.5px;
    border: none;
    border-radius: 4px;
    padding: 7px 20px;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
}
.no_auto{
    color: #d3d3d3;
    font-size: 18px;
    text-align: center;
    width: 100%;
    font-family: roboto_bold;
}
/* end left side section */
/* ========================================================================================================================================= */

/* MEDIA QUERY APPLY ON SMALL DEVICE */
/* ======================================================================================================================================== */
/* ========================================================================================================================================== */
@media screen and (max-width: 375px){
    
}
/* ========================================================================================================================================== */
/* ========================================================================================================================================== */
