/* 
    //////////////////////////////////////////////////////

    INTELLIGENT BOX
    DESIGNED & DEVELOPED by Manirabona Patience
    
    author: Mnirabona Patience,
    Email:  Hseal419@gmail.com,
    location: Kigali,Rwanda,
    pro: Intelligent Box E-learning,
    version: 1.0.0
    
	//////////////////////////////////////////////////////
*/

/* external font family */
/* ====================================================================================================================================== */
    @font-face {font-family: 'roboto_bold';src: url('../fonts/Roboto/Roboto-Bold.ttf');} 
    @font-face{font-family: 'roboto_regular';src: url('../fonts/Roboto/Roboto-Regular.ttf');}
    @font-face{font-family: 'baskvile';src: url('../fonts/baskerville/BASKVILL.TTF');}
    @font-face{font-family: 'roboto_medium';src: url('../fonts/Roboto/Roboto-Medium.ttf');}
/* ======================================================================================================================================== */

/* apply on scroll bar */
/* ========================================================================================================================================= */
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: var; 
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #041a2f;
        border-radius: 4px; 
    }
/* ========================================================================================================================================== */

/* MAIN COLOR */
/* ===================================================================================================================================================== */
:root{
    --BoxPrimary: #041a2f;
    --BoxSecondary: #f6f7fd;
    --BoxSubPrimary: #071c2e;
    --BoxSubSecondary: #08345e;
    --BoxLines: #d3d3d3;
    --Basic: white;
}
/* ==================================================================================================================================================== */

/* body style */
/* ========================================================================================================================================= */
    body{
        padding: 0;
        margin: 0;
        font-family: roboto_regular;
    }
/* ========================================================================================================================================= */

/* DOWN SECTION */
/* ========================================================================================================================================== */
    .down-lord{
        margin-top: 80px;
        height: 100%;
    }
    .history-post{
        margin-top: 30px;
        background: var(--Basic);
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0,0,0, 0.3);
    }

/* left side section */
/* ======================================================================================================================================== */
    .left-side-section{
        margin: 0 auto;
    }
    .top-background-image{
        position: relative;
        background: var(--Basic);
        height: 280px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 4px 4px 8px 4px;
        box-shadow: 0 0 10px rgba(0,0,0, 0.3);
    }
    .top-background-image img{
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        width: 100%;
        object-fit: fill;
    }
    .over-profile-detail{
        position: absolute;
        right: 38%;
        bottom: 30px;
        text-align: center;
    }
    .user_profile_image{
        width: 150px;
        height: 145px;
        background: var(--Basic);
        padding: 5px;
        border-radius: 50%;
        margin-left: 15px;
    }
    .user_profile_image img{
        border-radius: 50%;
        object-fit: fill;
    }
    .top-name-pre{
        font-family: roboto_bold;
        font-size: 19px;
        letter-spacing: 0.5px;
        color: var(--Basic);
        margin-top: 15px;
        letter-spacing: 0.6px;
        text-transform: capitalize;
    }

    .autobio_book{
        font-family: roboto_bold;
        font-size: 20px;
        margin-bottom: 20px;
        letter-spacing: 0.5px;
        line-height: 19px;
        font-weight: 570;
        background: var(--BoxSubPrimary);
        padding: 10px;
        border-radius: 4px;
        color: var(--Basic);
    }
    .sub-full-desc{
        font-family: roboto_regular;
        width: 100%;
        letter-spacing: 0.6px;
        line-height: 20px;
        font-size: 16px;
    }
    .upload_auto{
        background: var(--BoxPrimary);
        color: var(--Basic);
        font-family: roboto_bold;
        letter-spacing: 0.5px;
        border: none;
        border-radius: 4px;
        padding: 7px 20px;
        margin-top: 10px;
        width: 100%;
        cursor: pointer;
    }
    .no_auto{
        color: var(--BoxLines);
        font-size: 18px;
        text-align: center;
        width: 100%;
        font-family: roboto_bold;
    }
/* ========================================================================================================================================= */

/* MEDIA QUERY APPLY ON SMALL DEVICE */
/* ========================================================================================================================================== */
@media screen and (max-width: 375px){
    
}
/* ========================================================================================================================================== */
