/* 
    //////////////////////////////////////////////////////

    INTELLIGENT BOX
    DESIGNED & DEVELOPED by Manirabona Patience
    
    author: Mnirabona Patience,
    Email:  Hseal419@gmail.com,
    location: Kigali,Rwanda,
    pro: Intelligent Box E-learning,
    version: 1.0.0
    
	//////////////////////////////////////////////////////
*/

 /* external fonts family */
 /* =============================================================================================================================================== */
 /* =============================================================================================================================================== */
 @font-face {font-family: 'roboto_bold';src: url('../fonts/Roboto/Roboto-Bold.ttf');} 
 @font-face{font-family: 'roboto_regular';src: url('../fonts/Roboto/Roboto-Regular.ttf');}
 @font-face{font-family: 'baskvile';src: url('../fonts/baskerville/BASKVILL.TTF');}
 @font-face{font-family: 'roboto_medium';src: url('../fonts/Roboto/Roboto-Medium.ttf');}


/* apply on scroll bar */
/* =============================================================================================================================================== */
/* =============================================================================================================================================== */
/* width */
 ::-webkit-scrollbar {
     width: 10px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
     background: white; 
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
     background: #041a2f;
     border-radius: 4px; 
 }


/* body style */
/* ============================================================================================================================================== */
/* ============================================================================================================================================== */
body{
   padding: 0;
   margin: 0;
   font-family: roboto_regular;
}
.body-section{
    box-shadow: 0 0 1px rgba(0,0,0, 0.4),0 0 0px rgba(0,0,0, 0.4),0 0 10px rgba(0,0,0, 0.4);
    background: white;
    margin-top: 70px;
}


/* left side section style */
/* ============================================================================================================================================== */
.left-side{
    background-color: white;
    padding: 15px 15px;
    width: 100%;
}
.top-background{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #f6f7fd;
    height: 250px;
    border: none;
    position: relative;
}
.top-background img{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
}
.title-background{
    font-family: roboto_bold;
    text-transform: capitalize;
    font-size: 18px;
    position: absolute;
    bottom: 30px;
    left: 25px;
    color: white;
}
.search-department input{
    font-family: roboto_medium;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}
.search-department{
    border-radius: 4px;
    padding: 5px;
    border: 1px solid #d3d3d3;
    margin-top: 10px;
}
.seach-result-department{
    background: white;
    position: absolute;
    padding: 10px;
    z-index: 26;
    width: 100%;
    margin: 0 auto;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 0 1px rgba(0,0,0, 0.4),0 0 0px rgba(0,0,0, 0.4),0 0 10px rgba(0,0,0, 0.4);
    top: 50px;
    display: none;
}
.department-list-searched{
    overflow: auto;
    height: 400px;
    overflow-x: hidden;
}
.close-search{
    position: absolute;
    right: 15px;
    top: 10px;
    border-radius: 50%;
    background: #f6f7fd;
    padding: 0 5px;
    cursor: pointer;
}

.department-title{
    background: #f6f7fd;
    font-family: roboto_bold;
    text-transform: capitalize;
    font-size: 16px;
    border-radius: 20px;
    padding: 9px 15px 9px 15px;
    margin-top: 30px;
}
.each-course{
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}
.course-name{
    font-family: roboto_bold;
    text-transform: capitalize;
    font-size: 15px;
}
.course-image{
    width: 300px;
    height: 180px;
    background: #f6f7fd;
    border-radius: 4px;
}
.course-image img{
    border-radius: 4px;
}
.course-bio{
    font-family: roboto_regular;
    line-height: 17px;
    letter-spacing: 0.3px;
}
.course-status div{
    background: #f6f7fd;
    padding: 5px 10px;
    border-radius: 4px;
    font-family: roboto_medium;
    text-transform: capitalize;
    cursor: pointer;
}
.course-status div span{
    font-family: roboto_bold;
    margin-left: 5px;
}
.user-option{
    border-top: 1px solid #d3d3d3;
    padding-top: 10px;
}
.user-option div button{
    background: #041a2f;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 5px 9px 5px 9px;
    font-family: roboto_regular;
    text-transform: capitalize;
    cursor: pointer;
}
.user-option div button .fa{
    margin-right: 5px;
}
/* end left side style */
/* ================================================================================================================================================== */
/* ==================================================================================================================================================== */


/* right side style */
/* ================================================================================================================================================ */
/* ================================================================================================================================================== */
.right-side{
    background: white;
    padding: 15px 15px;
    width: 400px;
}


.title-learner{
    font-family: roboto_bold;
    text-transform: capitalize;
    text-align: left;
    padding: 10px;
    font-size: 16px;
}
.discuss-in-group{
    box-shadow: 0 0 5px rgba(0,0,0, 0.3);
    border-radius: 4px;
    overflow: hidden;
}
.each-trade{
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0 0 3px rgba(0,0,0, 0.3);
    float: left;
    width: 300px;
    margin-right: 30px;
    height: auto;
}
.group-list{
    padding: 10px;
}
.trade-image{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    height: 150px;
    background-color: whitesmoke;
}
.trade-image img{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.admin-image-ame{
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.admin-image{
    border-radius: 100%;
    background-color: #f6f7fd;
    padding: 2px;
    height: 68px;
    width: 70px;
}
.admin-image img{
    border-radius: 100%;
    height: 100%;
    width: 100%;
}
.trade-name{
    font-family: roboto_bold;
    text-transform: capitalize;
    text-align: left;
    color: white;
    margin-top: 20px;
}
.trade-bio{
    font-family: roboto_regular;
    padding: 10px;
    letter-spacing: 0.5px;
    line-height: 19px;
    height: 130px;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    font-weight: 560;
}
.user-accurate{
    padding: 10px 7px;
    border-top: 1.5px solid #d3d3d3;
    font-family: roboto_bold;
    text-transform: capitalize;
    overflow: hidden;
}
.user-accurate div{
    float: left;
    margin-right: 10px;
}
.user-accurate div span{
    font-family: roboto_bold;
}
.ask a button{
    background-color: #041a2f;
    color: white;
    font-size: 13px;
    border: none;
    outline: none;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-family: roboto_bold;
}


.course-department{
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    padding: 9px;
    margin-bottom: 20px;
}
.section-title{
    font-family: roboto_bold;
    font-size: 15px;
    background: #f6f7fd;
    border-radius: 20px;
    padding: 9px 15px 9px 15px;
}
.department-list{
    overflow: auto;
    width: 100%;
    height: 350px;
}
.eachdepartment{
    border-radius: 4px;
    width: 250px;
    float: left;
    margin-left: 25px;
    margin-bottom: 20px;
    box-shadow: 0 0 1px rgba(0,0,0, 0.4),0 0 0px rgba(0,0,0, 0.4),0 0 7px rgba(0,0,0, 0.4);
}
.department-image{
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #f6f7fd;
    width: 100%;
    height: 150px;
}
.department-image img{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.department-image .department-name{
    position: absolute;
    bottom: 5px;
    color: white;
    font-family: roboto_bold;
    font-size: 15px;
    text-transform: capitalize;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 5px 0px 8px;
}
.study-now{
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    font-family: roboto_bold;
}
.department-bio{
    padding: 10px;
    font-family: roboto_regular;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 19px;
    letter-spacing: 0.5px;
    font-weight: 560;
}

.friends-cover{
    position: relative;
    display: flex;
    padding: 5px;
}
.first-friends-image img,.middle-friend-image img,.third-friend-image img{
    border-radius: 50%;
    object-fit: cover;
}
.first-friends-image{
    border-radius: 50%;
    background: #f6f7fd;
    border: 2px solid white;
    width: 40px;
    height: 40px;
}
.middle-friend-image{
    border-radius: 50%;
    background: #f6f7fd;
    border: 2px solid white;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 25px;
}
.third-friend-image{
    border-radius: 50%;
    background: #f6f7fd;
    border: 2px solid white;
    width: 40px;
    height: 40px;
}
.plus-learner{
    margin-top: 10px;
    font-family: roboto_medium;
    margin-left: 4px;
}
.user-followers-list{
    position: relative;
    /* overflow: hidden; */
    margin-right: 50px;
    /* width: 100%; */
}
.circular-flexs-1 img,.circular-flexs-2 img{
    border-radius: 50%;
    object-fit: cover;        
}
.circular-flexs-1{
    width: 40px;
    height: 40px;
    background: #f6f7fd;
    border-radius: 50%;
    float: left;
    border: 2px solid white;
}
.circular-flexs-2{
    width: 40px;
    height: 40px;
    background: #f6f7fd;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    left: 20px;
}

.department-status{
    padding: 10px;
    background-color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.department-status div{
    text-transform: capitalize;
    font-family: roboto_regular;
    margin-right: 5px;
    text-align: center;
}
.department-status div span{
    text-transform: capitalize;
    font-family: roboto_bold;
    margin-left: 2px;
}


/* group style */
/* ============================================================================================================================================== */
.eachdegroup{
    border-radius: 6px;
    width: 300px;
    margin-bottom: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 1px rgba(50, 158, 0, 0.4) 0.4) 0.4) 0.4) 0.4) 0.4) 0.4),0 0 0px rgba(0,0,0, 0.4),0 0 7px rgba(0,0,0, 0.4);
}

.group-profile-image{
    position: absolute;
    background: white;
    border-radius: 100%;
    width: 90px;
    height: 88px;
    padding: 3px;
    bottom: -20px;
    left: 20px;
}
.group-profile-image img{
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
.group-name{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-family: roboto_bold;
    font-size: 16px;
    text-transform: capitalize;
}
.department-image-group{
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #f6f7fd;
}
.group-background-image {
    height: 150px;
    background: #f6f7fd;
}
.group-background-image img{
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #f6f7fd;
    height: 100%;
}
.department-image-group {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.department-bio-group{
    padding: 10px;
    font-family: roboto_regular;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 85px;
    overflow: hidden;
    letter-spacing: 0.3px;
    line-height: 19px;
    font-weight: 560;
}
.group-status{
    padding: 10px;
    background-color: white;
    border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.group-status div{
    text-transform: capitalize;
    font-family: roboto_regular;
    background: #f6f7fd;
    border-radius: 4px;
    padding: 7px 8px 7px 8px;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
}
.group-status div span{
    text-transform: capitalize;
    font-family: roboto_bold;
    margin-left: 2px;
}
.group-status .trainer{
    font-family: roboto_bold;
    font-size: 14px;
}


/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    padding: 10px;
}
    
/* Next & previous buttons */
.previous, .next-section {
    text-transform: capitalize;
    font-family: roboto_regular;
    background: #f6f7fd;
    border-radius: 50%;
    padding: 6px 13px 6px 13px;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
    width: auto;
    transition: 0.6s ease;
    user-select: none;
    font-size: 16px;
}
 
/* The dots/bullets/indicators */
/* ========================================================================================================================================== */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #f6f7fd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
    
.active, .dot:hover {
    background-color: #717171;
}
/* end right side style */
/* =========================================================================================================================================== */
/* =========================================================================================================================================== */


/* MEDIA QUERY FOE SMALL DEVICE */
/* ======================================================================================================================================== */
/* ========================================================================================================================================= */
@media screen and (max-width: 1200px){
    .department-title{
        background: #f6f7fd;
        font-family: roboto_bold;
        text-transform: capitalize;
        font-size: 15px;
        border-radius: 20px;
        padding: 9px 15px 9px 15px;
        margin-top: 30px;
    }
    .eachdepartment{
        border-radius: 4px;
        width: 250px;
        float: left;
        margin-left: 10px;
        margin-bottom: 20px;
        box-shadow: 0 0 1px rgba(0,0,0, 0.4),0 0 0px rgba(0,0,0, 0.4),0 0 7px rgba(0,0,0, 0.4);
    }
    .section-title{
        font-family: roboto_bold;
        font-size: 14px;
        background: #f6f7fd;
        border-radius: 10px;
        padding: 8px 13px 8px 13px;
    }
}
@media screen and (max-width: 991px){
    .body-section{
        flex-direction: column;
    }
    .department-list{
        overflow: auto;
        width: 100%;
        height: 400px;
    }
    .eachdegroup{
        width: 350px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 767px){
    .department-title{
        background: #f6f7fd;
        font-family: roboto_bold;
        text-transform: capitalize;
        font-size: 15px;
        border-radius: 20px;
        padding: 9px 15px 9px 15px;
        margin-top: 30px;
    }
}
@media screen and (max-width: 469px){
    .right-side{
        width: 100%;
    }
    .right-list{
        width: 100%;
    }
    .top-desc-img-detail{
        flex-direction: column;
    }
    .course-image{
        height: 200px;
    }
    .department-title{
        font-size: 16px;
        flex-direction: column;
    }
    .small-count{
        margin-left: 20px;
    }
    .course-detail{
        margin-top: 10px;
    }
    .course-status div{
        background: #f6f7fd;
        padding: 4px 8px;
        border-radius: 4px;
        font-family: roboto_medium;
        text-transform: capitalize;
        cursor: pointer;
        margin-right: 5px;
        font-size: 12px;
    }
    .slideshow-container {
        position: relative;
        margin: 0;
        padding: 0px;
    }
    .eachdegroup{
        width: 250px;
    }

    .course-department{
        border: 1px solid #d3d3d3;
        border-radius: 4px;
        padding: 9px;
        margin-bottom: 20px;
        width: 100%;
    }
    .eachdepartment{
        border-radius: 4px;
        width: 200px;
        float: left;
        margin-left: 25px;
        margin-bottom: 20px;
        box-shadow: 0 0 1px rgba(0,0,0, 0.4),0 0 0px rgba(0,0,0, 0.4),0 0 7px rgba(0,0,0, 0.4);
    }
    .department-list{
        overflow: auto;
        width: 100%;
        height: 400px;
    }
    .eachdegroup{
        width: 220px;
    }
}
/* END MEDIA QUERY */
/* ========================================================================================================================================= */
/* ========================================================================================================================================= */