/* 
    //////////////////////////////////////////////////////

    INTELLIGENT BOX
    DESIGNED & DEVELOPED by Manirabona Patience
    
    author: Mnirabona Patience,
    Email:  Hseal419@gmail.com,
    location: Kigali,Rwanda,
    pro: Intelligent Box E-learning,
    version: 1.0.0
    
	//////////////////////////////////////////////////////
*/

    /* external font family */
    /* ======================================================================================================================================= */
    @font-face {font-family: 'roboto_bold';src: url('../fonts/Roboto/Roboto-Bold.ttf');} 
    @font-face{font-family: 'roboto_regular';src: url('../fonts/Roboto/Roboto-Regular.ttf');}
    @font-face{font-family: 'baskvile';src: url('../fonts/baskerville/BASKVILL.TTF');}
    @font-face{font-family: 'roboto_medium';src: url('../fonts/Roboto/Roboto-Medium.ttf');}
    @font-face{font-family: 'roboto_tiny';src: url('../fonts/Roboto/Roboto-Black.ttf');}


/* apply on scroll bar */
/* ========================================================================================================================================== */
/* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: white; 
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #041a2f;
        border-radius: 4px;  
    }

    /* body style */
    /* ======================================================================================================================================== */
    body{
        padding: 0;
        margin: 0;
        font-family: roboto_regular;
    }

    /* message area */
    /* ======================================================================================================================================= */
    .shortcuts-message{
        position: fixed;
        bottom: 50px;
        right: 100px;
    }
    .user-image-message img{
        border-radius: 50%;
    }
    .user-image-message{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background: #f6f7fd;
        position: relative;
        margin-left: 20px;
        cursor: pointer;
        animation: pop1 500ms ease-in-out forwards;
    }
    @keyframes pop1 {
        0%{
            transform: scale(0.1);
            opacity: 0;
        }
        100%{
            transform: scale(1);
            opacity: 1;
        }
    }
    .shortcuts-plus{
        background: white;
        border-radius: 4px;
        color: #041a2f;
        padding: 5px 10px;
        margin-left: 20px;
        font-family: roboto_bold;
        box-shadow: 0 0 2px rgba(0,0,0, 0.4),0 0 5px rgba(0,0,0, 0.4),0 0 10px rgba(0,0,0, 0.4);
        cursor: pointer;
        margin-top: 10px;
    }
    .counter{
        background: rgb(175, 10, 10);
        color: white;
        font-family: roboto_bold;
        font-size: 13px;
        position: absolute;
        top: -15px;
        right: -5px;
        border-radius: 20px;
        padding: 2px 4px 2px 4px;
    }

    .message-area{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        background-color: white;
        border-radius: 6px;
        width: 300px;
        padding: 1px;
        animation: messages 5s ease-in-out forwards;
        z-index: 99;
        margin-right: 20px;
        position: fixed;
        bottom: 50px;
        right: 140px;
        /* display: none; */
        transition: .5s;
    }
    @keyframes messages{
        0%{
            transform: translateX(200%);
        }
        15%, 85%{
            transform: translateY(0%);
        }
        100%{
            transform: translateX(0%);
        }
    }
    .message-title{
        padding: 5px;
        background: white;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        position: relative;
        border-bottom: 1.5px solid #d3d3d3;
    }
    .remove-chart{
        position: absolute;
        top: 7px;
        right: 10px;
    }
    .pull-up{
        padding: 3px 8px 3px 8px;
        color: #041a2f;
        border-radius: 4px;
        cursor: pointer;
        font-size: 15px;
        /* background: #08345e; */
        margin-left: 5px;
    }
    .minimize-chats{
        padding: 3px 8px 3px 8px;
        color: #041a2f;
        border-radius: 4px;
        cursor: pointer;
        font-size: 15px;
        /* background: #08345e; */
        margin-left: 5px;
    }
    .remove-chart-history{
        padding: 3px 8px 3px 8px;
        color: #041a2f;
        border-radius: 4px;
        cursor: pointer;
        font-size: 15px;
    }
    .file-attach{
        background: white;
        padding: 3px 8px 3px 8px;
        color: #041a2f;
        border-radius: 4px;
        cursor: pointer;
        font-size: 15px;
    }
    .reciever-image img{
        border-radius: 100%;
    }
    .reciever-image{
        width: 45px;
        height: 45px;
        border-radius: 100%;
        background: #08345e;
        padding: 3px;
        margin-left: 5px;
        margin-top: 3px;
        position: relative;
    }
    .online-user{
        position: absolute;
        color: green;
        bottom: 2px;
        right: 2px;
        padding: 5px;
        width: 10px;
        background: green;
        border-radius: 50%;
    }
    .user-name{
        font-family: roboto_bold;
        color: #041a2f;
        text-transform: capitalize;
        font-size: 13px;
        margin-top: 5px;
    }
    .user-name div{
        width: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 15px;
    }


    /* MESSAGE CHAT */
    /* ======================================================================================================= */
    .chat-message-list{
        /* display: flex;
        flex-direction: column; */
        padding: 20px 20px;
        overflow: auto;
        overflow-x: hidden;
        height: 300px;
    }
    .message-row{
        display: grid;
        margin-bottom: 5px;
        grid-template-columns: 30%;
        overflow: hidden;
    }
    .message-content{
        display: grid;
    }
    .you-message{
        justify-content: end;
        width: auto;
    }
    .you-message .message-content{
        justify-items: end;
        float: right;
    }
    .other-message{
        justify-items: start;
    }
    .other-message .message-content{
        grid-template-columns: 1fr;
        grid-column-gap: 15px;
        float: left;
    }
    .message-text{
        padding: 0px 14px;
        font-size: 15px;
        margin-bottom: 5px;
    }
    .message-time{
        font-size: 13px;
        color: #777;
        font-family: roboto_bold;
        font-weight: 560;
        margin-left: 10px;
    }
    .you-message .message-text{
        background: #041a2f;
        color: white;
        border-radius: 14px 14px 0px 14px;
        font-family: roboto_medium;
        padding: 5px 10px;
        line-height: 20px;
        letter-spacing: 0.6;
    }
    .other-message .message-text{
        background: #eee;
        color: #041a2f;
        border-radius: 14px 14px 14px 0px;
        font-family: roboto_medium;
        padding: 5px 10px;
        line-height: 20px;
        letter-spacing: 0.6;
    }
    .other-message .message-content{
        display: flex;
    }
    .other-message .message-content img{
        border-radius: 100%;
        grid-row: span 2;
        width: 40px;
        height: 40px;
        margin-right: 8px;
    }
    
    
    
    
    .chart-area{
        background: white;
        height: 300px;
        overflow: auto;
        margin-top: 10px;
        padding: 5px 10px 5px 10px;
        overflow-x: hidden;
    }
    .chart-area::-webkit-scrollbar {
        width: 7px;
    }
    /* Track */
    .chart-area::-webkit-scrollbar-track {
        background: white; 
    }
    /* Handle */
    .chart-area::-webkit-scrollbar-thumb {
        background: #e9e9e9;
        border-radius: 4px; 
    }
    
    .send-image-pre img{
        border-radius: 100%;
    }
    .send-image-pre{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: #f6f7fd;
    }
    .time-sended{
        font-size: 12px;
        font-family: roboto_bold;
        text-transform: capitalize;
        float: left;
        color: #d3d3d3;
        margin-left: 20px;
    }
    .message-written-ares{overflow: hidden;}
    .sender-area{
        animation: message 600ms ease-in-out forwards;
        float: left;
    }
    .reciever-area{
        animation: recieved 600ms ease-in-out forwards;
        overflow: hidden;
    }

    .message-written-reciever{
        float: left;
    }
    .message{
        position: relative;
        float: left;
        line-height: 18px;
        background: #eee;
        padding: 5px 10px;
        border-radius: 0px 14px 14px 14px;
        max-width: 350px;
        font-family: roboto_medium;
        color: #041a2f;
        margin-top: 10px;
    }
    .recieved-message{
        line-height: 18px;
        background: #08345e;
        padding: 5px 10px;
        border-radius: 14px 0px 14px 14px;
        max-width: 350px;
        font-family: roboto_medium;
        color: white;
    }
    .reciever-image-pre img{
        border-radius: 100%;
    }
    .reciever-image-pre{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: #f6f7fd;
    }
    .time-recieved{
        font-size: 12px;
        font-family: roboto_bold;
        text-transform: capitalize;
        color: #d3d3d3;
        float: right;
        margin-right: 20px;
    }




    
    .down-message-area{
        display: flex;
    }
    .create-message{
        background: white;
        padding: 5px 10px 5px 2px;
        border-top: 1.5px solid #d3d3d3;
        width: 100%;
    }
    .type-message textarea{
        width: 100%;
        border: none;
        outline: none;
        background: white;
        margin-top: 2px;
        overflow: hidden;
        height: 100%;
        line-height: 18px;
        font-family: roboto_medium;
        color: #041a2f;
    }
    .type-message{
        /* border: 1px solid #d3d3d3; */
        padding: 3px 7px 3px 7px;
        background: white;
        font-size: 14px;
        font-family: roboto_bold;
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 4px;
    }
    .btn-send-messages{overflow: hidden;}
    .btn-send-messages .btn-send-message{
        border: none;
        outline: none;
        color: #041a2f;
        font-family: roboto_bold;
        font-size: 14px;
        padding: 5px 5px 5px 5px;
        text-transform: capitalize;
        border-radius: 4px;
        cursor: pointer;
        font-size: 18px;
        background: white;
        float: right;
    }
    .btn-send-message .fa{
        cursor: pointer;
    }



    /* expanded message area */
    /* ===================================================================================================================================== */
    /* ===================================================================================================================================== */
    #expanded_conv{
        display: none;
        width: 100%;
    }
    .expand-message{
        position: fixed;
        bottom: 10px;
        left: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 6px;
        display: flex;
        background: white;
        z-index: 99;
        /* display: none; */
        transition: 0.5s;
    }
    .left-side-coneversion{
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        background: #08345e;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    .conv-title{
        background: #041a2f;
        padding: 10px;
        color: white;
        font-family: roboto_bold;
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-top-left-radius: 6px;
    }
    .add-chat{
        background: #041a2f;
        padding: 10px;
        font-family: roboto_medium;
        width: 100%;
        border-bottom-left-radius: 6px;
    }
    .add-convesation{
        background: white;
        border-radius: 6px;
        text-align: center;  
        font-size: 15px;
        color: #041a2f;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .add-convesation .fa{
        margin-top: 8px;
        cursor: pointer;
    }
    .search-conv input{
        width: 100%;
        height: 100%;
        font-family: roboto_medium;
        border: none;
        outline: none;
    }
    .search-conv{
        display: flex;
        background: white;
        border-radius: 4px;
        color: #041a2f;
        padding: 5px;
        margin-right: 5px;
    }
    .search-conv .fa{
        margin-top: 3px;
        margin-right: 10px;
        margin-left: 5px;
    }
    .cancel-big-message{
        position: absolute;
        right: 20px;
        top: 10px;
        display: flex;
    }
    .cancel-big-message div{
        color: white;
        cursor: pointer;
        background: #071c2e;
        padding: 0px 6px;
        border-radius: 50%;
        margin-left: 10px;
        font-size: 13px;
        text-align: center;
    }
    .minimize .fa{
        margin-top: 5px;
    }
    .inner-full-conv{
        background: green;
        padding: 4px;
        border-radius: 50%;
    }
    .online-user-full-conv{
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: 2px;
        background: white;
        border-radius: 50%;
    }
    .online-user-full{
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: 2px;
        background: #08345e;
        border-radius: 50%;
    }
    .offline-usr-conv{
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 2px;
        background: white;
        border-radius: 50%;
    }
    .inner-full-off{
        background: rgb(175, 6, 6);
        padding: 4px;
        border-radius: 50%;
    }
    .user-main-image img{
        border-radius: 50%;
        position: relative;
    }
    .user-main-image{
        width: 34px;
        height: 34px;
        background: #f6f7fd;
        border-radius: 50%;
        margin-left: 10px;
    }
    .converstion-expand-full{
        /* margin-top: 10px; */
        width: 500px;
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
    }
    .conv-holder{
        overflow: auto;
        height: 400px;
        overflow-x: hidden;
    }
    .conv-holder::-webkit-scrollbar {
        width: 6px;
    }
    /* Track */
    .conv-holder::-webkit-scrollbar-track {
        background: white; 
    }
    /* Handle */
    .conv-holder::-webkit-scrollbar-thumb {
        background: #f6f7fd;
        border-radius: 4px; 
    }
    .conv-list{
        width: 100%;
    }
    .conv-notice{
        margin-top: 6px;
        margin-right: 10px;
    }

    .conv-holder ul{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .conv-holder ul li{
        padding: 4px 10px;
        border-bottom: 1px solid black;
        background: #08345e;
    }

    .each-conv{
        display: flex;
        width: 100%;
        background: #08345e;
        color: white;
    }
    .each-conv-not{
        display: flex;
        padding: 7px 10px 5px 10px;
        border-bottom: 1px solid #d3d3d3;
        width: 100%;
        background: white;
        color: #041a2f;
    }
    .pos-img{
        position: relative;
    }
    .conv-owner-image img{
        border-radius: 50%;
    }
    .conv-owner-image{
        width: 45px;
        height: 45px;
        background: #f6f7fd;
        border-radius: 50%;
        position: relative;
    }
    .message-own {
        margin-left: 15px;
        width: 100%;
        margin-top: 3px;
    }
    .messager-name{
        display: flex;
        justify-content: space-between;
        line-height: 18px;
    }
    .messager-name .n1{
        font-family: roboto_bold;
        font-size: 14px;
        letter-spacing: 0.6px;
        text-transform: capitalize;
    }
    .time-status{
        font-size: 12px;
        color: #0d71ce;
        font-family: roboto_bold;
        letter-spacing: 0.6px;
    }
    .message-short{
        margin-top: 1px;
        font-size: 14px;
        font-family: roboto_medium;
        width: 260px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        letter-spacing: 0.6px;
    }
    .counter-link-message{
        background: crimson;
        border-radius: 6px;
        padding: 2px 5px;
        font-family: roboto_bold;
        position: absolute;
        bottom: 5px;
        right: 20px;
        font-size: 13px;
    }

    /* apply when it come to small */
    /* ===================================================================================================================================== */
    .expand-left{
        font-size: 20px;
        cursor: pointer;
        display: none;
    }
    .sideBar {
        height: 100%;
        width: 0;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 0px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .sideBar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .sideBar a:hover {
        color: #f1f1f1;
    }
    .conv-title .closebtn {
        font-size: 25px;
        margin-left: 40px;
        margin-top: 5px;
        cursor: pointer;
        margin-right: 10px;
    }
      
    /* end small device */
    /* ==================================================================================================================================== */


    .text-center-title-days{
        position: sticky;
        top: 0;
        font-family: roboto_bold;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 10px;
        background: white;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        font-size: 15px;
        border-top-right-radius: 6px;
    }
    .message-setting{
        background: white;
        border-radius: 14px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 99;
        padding: 5px;
        display: none;
    }
    .expand-message-each{
        background: white;
        border-radius: 4px;
        padding: 0px 3px;
        color: #071c2e;
        font-size: 19px;
        cursor: pointer;
        position: absolute;
        left: 10px;
        top: 10px;
        background: #041a2f;
        color: white;
        padding: 2px 5px;
    }
    .each-setting-list{
        padding: 2px;
    }
    .each-setting-msg{
        background: white;
        border-top: 1px solid #d3d3d3;
        padding: 5px 8px;
        font-family: roboto_bold;
        letter-spacing: 0.6px;
        font-size: 14px;
        cursor: pointer;
    }
    .visible_div{
        display: none;
        margin-top: 3px;
        background: #08345e;
        color: white;
        padding: 2px 5px;
        border-radius: 6px;
    }
    .mesg-del{
        font-family: roboto_bold;
        font-weight: 590;
        font-size: 14px;
    }
    .delete_option{
        display: flex;
        justify-content: space-between;
        margin-top: 3px;
    }
    .no_option{
        border-radius: 6px;
        background: crimson;
        color: white;
        padding: 2px 5px;
        font-family: roboto_bold;
        font-weight: 590;
        font-size: 12px;
        cursor: pointer;
    }
    .yes_option{
        border-radius: 6px;
        background: #041a2f;
        color: white;
        padding: 2px 5px;
        font-family: roboto_bold;
        font-weight: 590;
        font-size: 12px;
        cursor: pointer;
    }
    .conv-full-txt::-webkit-scrollbar {
        width: 6px;
    }
    /* Track */
    .conv-full-txt::-webkit-scrollbar-track {
        background: white; 
    }
    /* Handle */
    .conv-full-txt::-webkit-scrollbar-thumb {
        background: #f6f7fd;
        border-radius: 4px; 
    }
    .conv-full-txt{
        margin-top: 10px;
        width: 100%;
        height: 385px;
        overflow: auto;
        overflow-x: hidden;
    }

    /* sender area */
    /* ================================================ */
    .sender-area-message{
        position: relative;
        overflow: hidden;
    }
    .person-send{
        display: flex;
        padding: 7px;
        float: left;
    }
    .user-conv-image img{
        border-radius: 50%;
    }
    .user-conv-image{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #f6f7fd;
        position: relative;

        /* for messagge */
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    }
    .message-detail-conv-send{
        margin-left: 5px;
        line-height: 18px;
        background: #f6f7fd;
        padding: 5px 10px;
        border-radius: 0px 14px 14px 14px;
        max-width: 350px;
    }
    .messager-name-time{
        display: flex;
    }
    .full-message{
        font-family: roboto_medium;
        font-size: 13px;
    }
    .name-messager{
        font-family: roboto_tiny;
        margin-top: 2px;
        letter-spacing: 0.5px;
        max-width: 250px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    /* recieved message */
    .person-recieve{
        display: flex;
        padding: 7px;
        float: right;
    }
    .user-conv-image-recieved img{
        border-radius: 50%;
    }
    .user-conv-image-recieved{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #f6f7fd;
        position: relative;
        margin-left: 5px;
        /* for messagge */
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 50% 100%, 50% 75%, 0% 75%);
    }
    .message-detail-conv-recieve{
        line-height: 18px;
        background: #08345e;
        padding: 5px 10px;
        border-radius: 14px 0px 14px 14px;
        max-width: 350px;
    }
    .reciever-message-area{
        overflow: hidden;
        position: relative;
    }
    .messager-name-time-recieve{
        display: flex;
    }
    .full-message-recieved{
        font-family: roboto_medium;
        font-size: 13px;
        color: white;
    }
    .name-message-recieve{
        font-family: roboto_tiny;
        margin-top: 2px;
        letter-spacing: 0.5px;
        color: white;
        max-width: 250px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

 
    .time-elaspe{
        font-family: roboto_medium;
        color: #d3d3d3;
        margin-left: 10px;
        font-size: 12px;
    }
  
    .add-more-message-input{
        background: #f6f7fd;
        border-bottom-right-radius: 6px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        padding: 2px 9px;
    }
    .input-form-textarea{
        display: flex;
        padding: 3px;
        width: 100%;
        position: relative;
    }
    .textarea-message textarea{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-family: roboto_medium;
    }
    .textarea-message{
        margin-top: 5px;
        border: 1px solid #d3d3d3;
        background: white;
        border-radius: 4px;
        width: 100%;
        padding: 5px;
    }
    .attachmentfile{
        font-size: 20px;
        margin-right: 10px;
        margin-left: 5px;
        margin-top: 10px;
        cursor: pointer;
    }
    .send-message-clip{
        font-size: 20px;
        margin-left: 10px;
        margin-right: 5px;
        margin-top: 10px;
        cursor: pointer;
    }
    
    .message_container_loader {
        position: relative;
        width: 25px;
        height: 25px;
        border-radius: 15px;
        -webkit-animation: rotation 1s infinite;
                animation: rotation 1s infinite;
        background: #041a2f;  
        display: none;      
    }
    .message_container_loader .shape {
        position: absolute;
        width: 10px;
        height: 2px;
    }
    .message_container_loader .shape.shape-1 {
        left: 0;
        background-color: #2196f3;
        border-top-left-radius: 10px;
    }
    .message_container_loader .shape.shape-2 {
        right: 0;
        background-color: #34A853;
        border-top-right-radius: 10px;
    }
    .message_container_loader .shape.shape-3 {
        bottom: 0;
        background-color: #89ff00;
        border-bottom-left-radius: 10px;
    }
    .message_container_loader .shape.shape-4 {
        bottom: 0;
        right: 0;
        background-color: #0d71ce;
        border-bottom-right-radius: 10px;
    }
    
    @-webkit-keyframes rotation {
        from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        }
        to {
        -webkit-transform: rotate(720deg);
                transform: rotate(720deg);
        }
    }
    
    @keyframes rotation {
        from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        }
        to {
        -webkit-transform: rotate(720deg);
                transform: rotate(720deg);
        }
    }
    /* end big message area */
    /* ============================================================================================================================================ */


    /* create new message */
    /* ============================================================================================================================================ */
    .create-new-message{
        position: relative;
    }
    .open-conv-ex{
       position: absolute;
       bottom: 0px;
       right: -4rem;
       display: none;
    }
    .hold-messaging{
        position: relative;
        z-index: 100;
        display: block;
        animation: new_message 300ms ease-in-out forwards;
        transform-origin: bottom right;
    }
    @keyframes new_message {
        0%{
            opacity: 0;
            transform: scale(0.1);
        }
        100%{
            opacity: 1;
            text-replace: scale(1);
        }
    }
    .btn-create-message{
        background: #071c2e;
        border: none;
        color: white;
        cursor: pointer;
        font-family: roboto_bold;
        font-size: 25px;
        padding: 15px;
        border-radius: 50%;
        z-index: 120;
    }

    /* message picker */
    /* ================================================== */
    .message-picker{
        background: white;
        position: absolute;
        bottom: 30px;
        right: 80px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        width: 300px;
        border-radius: 4px;
    }

    /* picker title */
    .picker-title{
        text-align: center;
        padding: 10px;
        position: relative;
    }
    .picker-title span{
        font-family: roboto_bold;
        font-size: 18px;
    }
    .select{
        position: absolute;
        right: 8px;
        top: 5px;
        cursor: pointer;
        display: flex;
        color: #08345e;
    }
    .count-selected{
        font-family: roboto_medium;
        font-size: 14px;
        margin-right: 2px;
    }
    .fetch-selected{
        font-family: roboto_medium;
        font-size: 14px;
        margin-left: 2px;
    }

    /* picked message */
    .picked-message{
        overflow: hidden;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 4px;
    }
    .each-picked{
        float: left;
        display: flex;
        background: #08345e;
        padding: 5px;
        border-radius: 6px;
        width: auto;
        justify-content: space-between;
        margin: 5px 6px;
        color: white;
    }
    .name-picked{
        font-family: roboto_medium;
        font-size: 12px;
        margin-right: 7px;
    }
    .cancel-message{
        cursor: pointer;
        color: white;
    }

    /* search message */
    .seach-message{
        margin-bottom: 10px;
    }
    .search-new input{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-family: roboto_medium;
    }
    .search-new .fa{
        margin-top: 2px;
        margin-right: 10px;
    }
    .search-new{
        display: flex;
        border: 1px solid #d3d3d3;
        padding: 6px;
        border-radius: 4px;
        margin: 0 5px;
    }

    /* user list / suggestion */
    .user-list{
        overflow: auto;
        overflow-x: hidden;
        height: 250px;
    }
    .each-messager{
        border-top: 1px solid #d3d3d3;
        padding: 10px 5px;
        display: flex;
    }
    .user-messager-image{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: #f6f7fd;
        /* border: 1.4px solid #08345e; */
        padding: 2px;
    }
    .user-messager-image img{
        border-radius: 50%;
    }
    .messager-detail{
        margin-left: 5px;
    }
    .messager-name-select{
        font-family: roboto_bold;
        font-size: 15px;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 18px;
    }
    .messger-function{
        font-size: 13px;
        font-family: roboto_medium;
        line-height: 18px;
    }
    .line{
        font-family: roboto_bold;
        color: #08345e;
        line-height: 18px;
        font-size: 12px;
    }
    .check_user{
        margin-top: 10px;
    }

    /* end message picker */
    /* ======================================================== */

    .cd-nav-trigger {
        position: fixed;
        bottom: 10%;
        right: 8%;
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50em;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        white-space: nowrap;
        z-index: 150;
        text-align: center;
        font-family: roboto_bold;
        font-size: 20px;
        cursor: pointer;
    }
    .cd-nav-trigger .fa{
        margin-top: 0.7em;
    }
    .no-message{
        margin-top: 20px;
        text-align: center;
        letter-spacing: 0.3px;
        color: #d3d3d3;
    }
    .no-message .fa{
        font-size: 40px;
    }
    .no-message div{
        font-family: roboto_bold;
        font-size: 19px;
        margin-top: 10px;
    }
    .counter_mesag{
        background: crimson;
        padding: 2px 5px;
        border-radius: 6px;
        font-family: roboto_bold;
        font-size: 13px;
        position: absolute;
        top: 0px;
        right: 0;
        color: white;
    }
    /* end new message */
    /* ============================================================================================================================================= */


    /* MEDIA QUERY APPLY ON SMALL DEVICE */
    /* ========================================================================================================================================== */
    /* ========================================================================================================================================== */
    @media screen and (max-width: 375px){
        .message-area{
            position: fixed;
            bottom: 10px;
            right: 10px;
            box-shadow: 0 0 1px rgba(0,0,0, 0.4),0 0 0px rgba(0,0,0, 0.4),0 0 10px rgba(0,0,0, 0.4);
            background-color: white;
            border-radius: 6px;
            width: 290px;
            padding: 1px;
            animation: messages 5s ease-in-out forwards;
            z-index: 99;
        }
        .converstion-expand-full{
            margin-top: 10px;
            width: 280px;
            height: 350px;
            overflow: auto;
            overflow-x: hidden;
        }
        .expand-message{
            bottom: 15px;
            left: 18px;
        }
        /* message picker */
        .message-picker{
            background: white;
            position: absolute;
            bottom: 0rem;
            left: -14.3rem;
            box-shadow: 0 0 1px rgba(0,0,0, 0.4),0 0 4px rgba(0,0,0, 0.4),0 0 10px rgba(0,0,0, 0.4);
            width: 280px;
            border-radius: 4px;
        }
        .conv-holder{
            overflow: auto;
            height: 300px;
            overflow-x: hidden;
            width: 100%;
        }
        .conv-full-txt{
            margin-top: 10px;
            width: 100%;
            height: 280px;
            overflow: auto;
            overflow-x: hidden;
        }
    }
    @media screen and (max-width: 768px){
        .message-area{
            position: fixed;
            bottom: 10px;
            right: 40px;
            box-shadow: 0 0 1px rgba(0,0,0, 0.4),0 0 0px rgba(0,0,0, 0.4),0 0 10px rgba(0,0,0, 0.4);
            background-color: white;
            border-radius: 6px;
            width: 300px;
            padding: 1px;
            /* display: none; */
            animation: messages 5s ease-in-out forwards;
            z-index: 99;
        }
          /* message picker btn*/
          .create-new-message{
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 100;
        }
        .hold-messaging{
            position: relative;
        }
        .btn-create-message{
            background: #071c2e;
            border: none;
            color: white;
            cursor: pointer;
            font-family: roboto_bold;
            font-size: 20px;
            padding: 15px;
            border-radius: 50%;
        }

        /* message picker */
        .message-picker{
            background: white;
            position: absolute;
            bottom: 0;
            right: 10px;
            box-shadow: 0 0 1px rgba(0,0,0, 0.4),0 0 4px rgba(0,0,0, 0.4),0 0 10px rgba(0,0,0, 0.4);
            width: 300px;
            border-radius: 4px;
        }

        /* expand message */
        .expand-message{
            bottom: 15px;
            left: 20px;
        }
        .converstion-expand-full{
            margin-top: 10px;
            width: 450px;
            height: 390px;
            overflow: auto;
            overflow-x: hidden;
        }
        .search-conv{
            padding: 5px;
            margin-right: 5px;
            display: none;
        }
        .each-conv{
            width: 100%;
        }
        .messager-name .n1{
            font-family: roboto_bold;
            font-family: 12px;
            letter-spacing: 0.5px;
            text-transform: capitalize;
        }
    }
    @media screen and (max-width: 500px){
        .expand-message{
            bottom: 30px;
            left: 0;
        }
    }
    @media screen and (max-width: 590px){
        .expand-message{
            bottom: 30px;
            left: 20px;
        }
    }
    @media screen and (max-width: 900px){
        .left-side-coneversion{
            display: none;
        }
        .expand-left{
            font-size: 20px;
            cursor: pointer;
            display: block;
        }
        .conv-list{
            border-bottom-left-radius: 4px;
        }
        .conv-title{
            border-radius: 0;
        }
    }
    @media screen and (max-width: 1024px){
        .message-area{
            position: fixed;
            bottom: 10px;
            right: 40px;
            box-shadow: 0 0 1px rgba(0,0,0, 0.4),0 0 0px rgba(0,0,0, 0.4),0 0 10px rgba(0,0,0, 0.4);
            background-color: white;
            border-radius: 6px;
            width: 300px;
            padding: 1px;
            /* display: none; */
            animation: messages 5s ease-in-out forwards;
            z-index: 99;
        }
          /* message picker btn*/
          .create-new-message{
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 100;
        }
        .hold-messaging{
            position: relative;
        }
        .btn-create-message{
            background: #071c2e;
            border: none;
            color: white;
            cursor: pointer;
            font-family: roboto_bold;
            font-size: 20px;
            padding: 15px;
            border-radius: 50%;
        }

        /* message picker */
        .message-picker{
            background: white;
            position: absolute;
            bottom: 0;
            right: 10px;
            box-shadow: 0 0 1px rgba(0,0,0, 0.4),0 0 4px rgba(0,0,0, 0.4),0 0 10px rgba(0,0,0, 0.4);
            width: 300px;
            border-radius: 4px;
        }

        .converstion-expand-full{
            margin-top: 10px;
            width: 450px;
            height: 350px;
            overflow: auto;
            overflow-x: hidden;
        }
    }
    @media screen and (min-width: 1052px){
        /* expand message */
        .expand-message{
            bottom: 50px;
            left: 100px;
        }
    }
    @media screen and (max-width: 375px){
        .message-area{
            bottom: 10px;
            right: 20px;
            width: 280px;
        }
        .expand-message{
            bottom: 30px;
            left: 10px;
            height: 430px;
        }
        .converstion-expand-full{
            margin-top: 10px;
            width: 310px;
            height: 550px;
            overflow: auto;
            overflow-x: hidden;
        }
        .cancel-big-message{
            right: 15px;
            top: 5px;
        }
    }
    /* END MEDIA APPLY ON SMALL */
    /* ========================================================================================================================================== */
    /* ========================================================================================================================================== */