/* 
    //////////////////////////////////////////////////////

    INTELLIGENT BOX
    DESIGNED & DEVELOPED by Manirabona Patience
    
    author: Mnirabona Patience,
    Email:  Hseal419@gmail.com,
    location: Kigali,Rwanda,
    pro: Intelligent Box E-learning,
    version: 1.0.0
    
	//////////////////////////////////////////////////////
*/

 /* external fonts family */
 /* ============================================================================================================== */
    @font-face {font-family: 'roboto_bold';src: url('../fonts/Roboto/Roboto-Bold.ttf');} 
    @font-face{font-family: 'roboto_regular';src: url('../fonts/Roboto/Roboto-Regular.ttf');}
    @font-face{font-family: 'baskvile';src: url('../fonts/baskerville/BASKVILL.TTF');}
    @font-face{font-family: 'roboto_medium';src: url('../fonts/Roboto/Roboto-Medium.ttf');}
    @font-face{font-family: 'roboto_extra';src: url('../fonts/Roboto/Roboto-Thin.ttf');}


/* apply on scroll bar */
/* =============================================================================================================== */
/* width */
 ::-webkit-scrollbar {
     width: 10px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
     background: white; 
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
     background: #041a2f;
     border-radius: 4px; 
 }


/* body style */
/* ================================================================================================================ */
body{
   padding: 0;
   margin: 0;
   font-family: roboto_regular;
}

/* left side section style */
/* ================================================================================================================ */
.left-side{
    position: relative;
}
.admin-panel{
    box-shadow: 0 0 1px rgba(0,0,0, 0.4),0 0 0px rgba(0,0,0, 0.4),0 0 15px rgba(0,0,0, 0.4);
    background: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
    width: 350px;
}
.group-icon{
    display: flex;
    width: 100%;
    border-radius: 4px;
    background-image: url(../../Images/index-img/settings.jpg);
    background-size: cover;
    padding: 10px;
    position: relative;
    color: white;
}
.group-icon::before{
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0, 0.4);
    position: absolute;
}
.pre-group-image img{
    border-radius: 50%;
}
.pre-group-image{
    border-radius: 50%;
    width: 60px;
    height: 58px;
    background: #f6f7fd;
    margin-left: 5px;
}
.the-owner{
    margin-top: 5px;
    width: 100%;
    font-family: roboto_bold;
    font-size: 16px;
}
.group-name-admin{
    margin-left: 10px;
    width: 100%;
    margin-top: 7px;
}
.group-name{
    font-family: roboto_bold;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
}
.admin-image img{
    border-radius: 50%;
}
.admin-image{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}
.admin-name{
    font-family: roboto_medium;
    margin-left: 5px;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 190px;
}
.each-conf{
    display: flex;
    border-bottom: 1px solid #d3d3d3;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
}
.each-conf:hover{
    background: #f6f7fd;
}
.icon-pre-conf-type{
    border-radius: 4px;
    padding: 8px;
    background: #f6f7fd;
    color: #041a2f;
    font-family: roboto_bold;
    font-size: 16px;
}
.admin-tools-list li a div .icon-pre-conf-type{
    border-radius: 4px;
    padding: 8px;
    background: #f6f7fd;
    color: #041a2f;
    font-family: roboto_bold;
    font-size: 16px;
}
.admin-tools-list li a{
    color: #041a2f;
    width: 100%;
}
.admin-tools-list li{width: 100%;}
.admin-tools-list{width: 100%;}
.conf-title{
    font-family: roboto_bold;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
}

/* top background image and content */
/* ================================================================================================================ */
.top-section{
    background: white;
    box-shadow: 0 0 1px rgba(0,0,0, 0.4),0 0 0px rgba(0,0,0, 0.4),0 0 15px rgba(0,0,0, 0.4);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.group-top-detail{
    margin-top: 10px;
    padding: 10px;
}
.name-search{
    display: flex;
    justify-content: space-between;
}
.group-name-title{
    font-family: roboto_bold;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-top: 8px;
}
.search-member input{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-family: roboto_medium;
}
.search-member{
    padding: 5px;
    border-radius: 4px;
}
.search-member .fa{
    margin-top: 13px;
}
.fa-aling .fa-cog{
    display: none;
}
.invite-friend{
    background: #041a2f;
    border: none;
    outline: none;
    color: white;
    font-family: roboto_bold;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-top: 1px;
    cursor: pointer;
}
.settings-and-info{
    box-shadow: 0 0 1px rgba(0,0,0, 0.4),0 0 0px rgba(0,0,0, 0.4),0 0 10px rgba(0,0,0, 0.4);
    border-radius: 4px;
    position: absolute;
    right: 120px;
    background: white;
    z-index: 99;
    top: 0px;
    width: 300px;
    padding: 0 0 5px 0;
    display: none;
}
.settings-pre{
    font-family: roboto_bold;
    font-size: 15px;
    padding: 10px;
    border-bottom: 1.5px solid #d3d3d3;
    position: relative;
}
.settings-pre .fa{
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}
.each-setting{
    padding: 10px 5px;
    border-top: 2px solid #d3d3d3;
}
.title-settings{
    font-family: roboto_bold;
}
.reply-setting{
    font-family: roboto_regular;
}
.group-description-settings{
    width: 250px;
}
.setting-list{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.search_result{
    position: absolute;
    background: white;
    box-shadow: 0 0 3px rgba(0,0,0, 0.3);
    overflow: auto;
    overflow-x: hidden;
    min-height: 150px;
    max-height: 300px;
    padding: 10px;
    z-index: 20;
    display: none;
    right: 0px;
    top: 50px;
    width: 280px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* popup list of discovery */
/* =============================================================================================================== */
.each-discovery{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d3d3d3;
    padding: 7px 4px;
}
.discover-image img{
    border-radius: 50%;
}
.discover-image{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #f6f7fd;
}
.discovery-detail{
    margin-left: 5px;
    letter-spacing: 0.3px;
    line-height: 16px;
    margin-top: 4px;
    width: 100%;
}
.dis-name{
    font-family: roboto_medium;
    font-size: 12.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
}
.dis-dep{
    font-family: roboto_medium;
    font-size: 12.5px;
    color: #d3d3d3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
}
.follow-discovery{
    background: #071c2e;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-family: roboto_medium;
    font-size: 12px;
    padding: 3px 8px;
    margin-top: 5px;
}
.following{
    background: white;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    outline: none;
    cursor: pointer;
    color: #071c2e;
    font-family: roboto_medium;
    font-size: 12px;
    padding: 3px 8px;
    margin-top: 5px; 
}

/* sub down list on top background */
/* ================================================================================================================ */
.top-nav-bar{
    border-top: 1.5px solid #d3d3d3;
    display: flex;
    justify-content: space-between;
}
.group-element li a div{
    color: #041a2f;
    font-family: roboto_bold;
    margin-right: 30px;
    border-bottom: 2px solid #041a2f;
}

.top-background{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #f6f7fd;
    height: 350px;
    border: none;
    position: relative;
}
.top-background::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0, 0.4);
}
.top-background img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.title-background{
    font-family: roboto_bold;
    text-transform: capitalize;
    font-size: 20px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
}

/* right side style */
/* =================================================================================================================== */
.right-side{
    background: white;
    padding: 15px 0px 15px 0px;
}
.department-name-course{
    background: white;
    box-shadow: 0 0 1px rgba(0,0,0, 0.4),0 0 0px rgba(0,0,0, 0.4),0 0 15px rgba(0,0,0, 0.4);
    border-radius: 4px;
    margin-left: 20px;
    margin-top: 20px;
}
.course-department{
    padding: 9px;
    margin-bottom: 20px;
}
.section-title{
    text-transform: capitalize;
    font-family: roboto_bold;
    font-size: 15px;
    background: #f6f7fd;
    border-radius: 4px;
    padding: 9px 15px 9px 15px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

/* add more group description frield */
/* =========================================================================================================== */
.group-description{
    background: white;
    box-shadow: 0 0 1px rgba(0,0,0, 0.4),0 0 0px rgba(0,0,0, 0.4),0 0 15px rgba(0,0,0, 0.4);
    border-radius: 4px;
    padding: 10px 0;
}
.title-group-desc{
    font-family: roboto_bold;
    font-size: 18px;
    margin-top: 10px;
}
.short-desc-info{
    font-family: roboto_regular;
}
.input-form-information{
    border-top: 1.5px solid #071c2e;
    margin-top: 10px;
    padding: 10px 5px;
}
.form-group-info{
    display: flex;
}
.label-input{
    font-family: roboto_medium;
    text-transform: capitalize;
    margin-top: 7px;
}
.input-form-info input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-family: roboto_regular;
}
.input-form-info select{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-family: roboto_regular;
}
.input-form-info{
    /* border-bottom: 1.5px solid #071c2e; */
    padding: 5px;
    margin-left: 10px;
}
.submit-info{overflow: hidden;}
.submit-info button{
    background: #041a2f;
    color: white;
    padding: 5px 15px ;
    border: none;
    border-radius: 4px;
    font-family: roboto_medium;
    float: right;
}
.present-action-table{
    font-family: roboto_bold;
    text-transform: capitalize;
}
.short-desc-account{
    font-family: roboto_regular;
    margin-top: 3px;
    font-size: 14px;
}
.edit-field input{
    font-family: roboto_medium;
    border: none;
    width: 100%;
}
td{font-family: roboto_regular;}


/* privacy settings */
/* ================================================================================================================= */
.privacy-list{
    margin-top: 10px;
}
.privacy-settings-each{
    border-top: 1px solid #d3d3d3;
    padding: 10px 5px;
}
.privacy-noti{
    font-family: roboto_bold;
}
.Companion{
    font-family: roboto_medium;
}
.pri-pre .fa{
    background: #f6f7fd;
    padding: 5px;
    border-radius: 50%;
    font-size: 16px;
}
.pre-text{
    margin-top: 7px;
    font-family: roboto_medium;
}
.checkbox-pri{
    margin-top: 8px;
}
.each-noti{
    border-top: 1px solid #d3d3d3;
    padding: 10px 5px;
}
.desc-settings{
    font-family: roboto_regular;
    font-size: 14px;
}
/* end privacy settings */
/* ======================================================================================================================================= */


/* down section and post content */
/* ========================================================================================================================================= */
.each-activity{
    display: flex;
    padding: 10px 5px;
    border-top: 1.2px solid #d3d3d3;
}
.poster-image img{
     border-radius: 50%;
}
.poster-image{
    width: 50px;
    height: 49px;
    border-radius: 50%;
    background: #f6f7fd;
}
.poster-detail{
    margin-left: 7px;
}
.poster-name{
    font-family: roboto_bold;
    font-size: 15px;
}
.caption-require{
    font-family: roboto_medium;
    margin-top: 3px;
}
.media img{
    border-radius: 4px;
    margin-top: 3px;
}
.media{
    background: #f6f7fd;
    border-radius: 4px;
    position: relative;
}
.user-accurancy{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.user-accurancy div{
    font-family: roboto_bold;
    padding: 5px 10px;
    background: #f6f7fd;
    border-radius: 4px;
    cursor: pointer;
}
.user-accurancy div .fa{
    font-size: 17px;
}

/* video control and play stream style */
/* ========================================================================================================================================= */
.video-controls{
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    padding: 10px;
    font-family: roboto_bold;
    animation: fade 1000ms ease-in-out forwards;
    background: rgb(0, 0, 0, 0.3);
}
@keyframes fade{
    0%{
        opacity: 0;
        transform: scale(0.1);
        transform-origin: bottom;
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.video-stream-line{
    background: #f2f2f2;
    width: 100%;
    border-radius: 10px;
}
.video-stream-line div{
    background-color: #041a2f;
    padding: 2px;
    border-radius: 10px;
}
.control-video{
    position: absolute;
    top: 40%;
    left: 40%;
    padding: 16px 20px 15px 20px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 40px;
    animation: fade 500ms ease-in-out forwards;
    /* filter: blur(1px);
    -webkit-filter: blur(1px); */
    /* background: rgba(0,0,0, 0.6);
    border: 2px solid white; */
}
@keyframes fade{
    0%{
        opacity: 0;
        transform: scale(0.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.control-video:hover{
    animation: fadout 500ms ease-in-out forwards;
}
.pause-play .fa{
    color: white;
}
.mute-unmute{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
}
/* end video control style */
/* ========================================================================================================================================== */

/* when it come to short area video */
/* ========================================================================================================================================== */
.control-media{
    position: absolute;
    top: 20%;
    left: 30%;
    padding: 16px 20px 15px 20px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 40px;
    animation: fade 500ms ease-in-out forwards;
    /* filter: blur(1px);
    -webkit-filter: blur(1px); */
    /* background: rgba(0,0,0, 0.6);
    border: 2px solid white; */
}
@keyframes fade{
    0%{
        opacity: 0;
        transform: scale(0.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.controls-down{
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    padding: 0px 10px 4px 10px;
    font-family: roboto_bold;
    animation: fade 1000ms ease-in-out forwards;
    background: rgb(0, 0, 0, 0.3);
}
@keyframes fade{
    0%{
        opacity: 0;
        transform: scale(0.1);
        transform-origin: bottom;
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
/* end smal video area */
/* =================================================================================================================================================== */


.status-number{
    margin-top: 10px;
}
.add-comments-area{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.user-site-image img{
    border-radius: 50%;
}
.user-site-image{
    width: 50px;
    height: 49px;
    border-radius: 50%;
    background: #f6f7fd;
}
.comment-textarea textarea{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-family: roboto_medium;
}
.comment-textarea{
    border: 1px solid #d3d3d3;
    padding: 5px;
    border-radius: 4px;
    margin: 5px 10px;
    width: 100%;
}
.btn-add-comment button{
    margin: 5px 5px;
    padding: 5px;
    background: #041a2f;
    color: white;
    font-family: roboto_bold;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}
.list-comment-found{
    margin-top: 10px;
}
.each-comment{
    border-bottom: 1px solid #d3d3d3;
    padding: 10px 0;
}
.inner-commet{
    display: flex;
}
.commeter-img img{
    border-radius: 50%;
}
.commeter-img{
    width: 40px;
    height: 39px;
    border-radius: 50%;
    background: #f6f7fd;
}
.comment{
    margin-left: 10px;
}
.commeter-name{
    font-family: roboto_medium;
}
.real-comment{
    margin-top: 5px;
    font-family: roboto_regular;
}
/* end dow section and post conetnt */
/* ================================================================================================================================================ */


/* member design and approved member on member tab*/
/* ================================================================================================================================================ */
.Approved{
    font-family: roboto_bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.member-list{
    width: 100%;
}
.members-section{
    display: flex;
    justify-content: space-between;
}
.each-member{
     padding: 10px 0;
     display: flex;
     border-bottom: 1px solid #d3d3d3;
}
.member-img img{
    border-radius: 50%;
}
.member-img{
    width: 60px;
    height: 59px;
    border-radius: 50%;
    background: #f6f7fd;
}
.member-detail{
    margin-left: 5px;
    letter-spacing: 0.5px;
}
.member-name{
    font-family: roboto_bold;
    font-size: 15px;
}
.member-email{
    font-family: roboto_bold;
    font-size: 13px;
}
.joined{
    font-family: roboto_medium;
    font-size: 13px;
}
.department-name{
    font-family: roboto_bold;
    font-size: 16px;
}

/* media tab and it content*/
/* =========================================================================================================================================== */
.media-divider{
    display: flex;
    justify-content: space-between;
}
.photos-shared{
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
}
.inner-photo{
    width: 120px;
    height: 110px;
    background: #f6f7fd;
    border-radius: 4px;
    float: left;
    margin: 10px 5px;
}
.inner-photo img{
    border-radius: 4px;
}
.video-shared{
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
}
.videos-shared-post{
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
}
.videos-shared-post div .inner-video{
    width: 200px;
    height: 150px;
    background: #f6f7fd;
    border-radius: 4px;
    float: left;
    margin: 10px 8px;
}
.inner-video{
    width: 120px;
    height: 110px;
    background: #f6f7fd;
    border-radius: 4px;
    float: left;
    margin: 10px 8px;
}
.inner-video video{
    border-radius: 4px;
    object-fit: fill;
}

/* #media,#Trainers,#Courses,#Companion{
    width: 600px;
} */

/* company tab and it content */
/* ========================================================================================================================================== */
.services div{
   color: #071c2e;
   letter-spacing: 0.5px;
   text-transform: capitalize;
   font-family: roboto_bold;
   cursor: pointer;
}
.company{
    font-family: roboto_bold;
    margin-top: 5px;
    letter-spacing: 0.5px;
    color: #041a2f;
}
/* end basuc style */

/* sidebar on header*/
/* ============================================================================= */
.fa-align-left{cursor: pointer;}
.fa-aling .fa-cog{
    display: none;
    margin-left: 20px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 9px;
}
  .sidenav {
    height: auto;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 75px;
    left: 0px;
    background-color: rgb(0, 0, 0, 0.3);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav .closebtn{
      color: white;
      margin-top: 20px;
  }
  .sidenav ul li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    transition: 0.3s;
    color: white;
    font-family: roboto_bold;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* sidebar on settings */
  /* =================================================================================================================================== */
  /* ============================================================================= */
  .mySettings {
    height: auto;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.4);
    overflow-x: hidden;
    transition: 0.5s;
    padding: 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 0 1px rgba(0,0,0, 0.4),0 0 0px rgba(0,0,0, 0.4),0 0 15px rgba(0,0,0, 0.4);
    display: none;
    transform-origin: top right;
  }
  .mySettings a{
      color: white;
      margin-top: 20px;
  }
  .mySettings ul li{
      width: 100%;
  }
  .mySettings ul li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    transition: 0.3s;
    color: white;
    font-family: roboto_bold;
  }
  
  .mySettings .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }



  /* EACH POSTS */
  /* =================================================================================================================================== */
  /* post style */
    .arrangement-section{
        width: 100%;
    }
    .each-post{
        display: flex;
        padding: 10px 5px;
        border-top: 1.2px solid #d3d3d3;
        width: 100%;
    }
    .poster-img{
        background: #f6f7fd;
        border-radius: 50px;
        width: 50px;
        height: 48px;
    }
    .poster-img img{
        border-radius: 100%;
    }
    .poster-name{
        font-family: roboto_bold;
        font-size: 15px;
    }
    .time-update{
        font-size: 13px;
    }
    .post-caption{
        font-family: roboto_medium;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.3px;
    }
    .media{
        padding: 0 5px 0px 0px;
        width: 100%;
    }
    .type-media{
        background: #f6f7fd;
        border-radius: 4px;
        height: 250px;
        width: 100%;
    }
    .type-media img{
        border-radius: 4px;
        width: 100%;
        height: 100%;
    }
    .type-media{
        position: relative;
        background: #f6f7fd;
        width: 100%;
        height: 250px;
        border-radius: 4px;
    }
    .type-media video{
        border-radius: 4px;
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
    .video-controls{
        width: 100%;
        position: absolute;
        bottom: 10px;
        color: white;
        padding: 10px;
        font-family: roboto_bold;
        animation: fade 1000ms ease-in-out forwards;
    }
    @keyframes fade{
        0%{
            opacity: 0;
            transform: scale(0.1);
            transform-origin: bottom;
        }
        100%{
            opacity: 1;
            transform: scale(1);
        }
    }
    .video-stream-line{
        background: #f2f2f2;
        width: 100%;
        border-radius: 10px;
    }
    .video-stream-line div{
        background-color: #041a2f;
        padding: 2px;
        border-radius: 10px;
    }
    .control-video{
        position: absolute;
        top: 40%;
        left: 40%;
        padding: 16px 20px 15px 20px;
        border-radius: 50%;
        color: white;
        cursor: pointer;
        font-size: 40px;
        animation: fade 500ms ease-in-out forwards;
        /* filter: blur(1px);
        -webkit-filter: blur(1px); */
        /* background: rgba(0,0,0, 0.6);
        border: 2px solid white; */
    }
    @keyframes fade{
        0%{
            opacity: 0;
            transform: scale(0.1);
        }
        100%{
            opacity: 1;
            transform: scale(1);
        }
    }
    .control-video:hover{
        animation: fadout 500ms ease-in-out forwards;
    }
    .pause-play .fa{
        color: white;
    }
    .mute-unmute{
        margin-left: 10px;
        margin-top: 10px;
        font-size: 15px;
        cursor: pointer;
    }
    .user-accurate-feeling{
        font-family: roboto_bold;
    }
    .time-post{
        background: #f6f7fd;
        padding: 7px 8px 6px 8px;
        border-radius: 20px;
        font-size: 13px;
    }
    .user-feelings div{
        background: #f6f7fd;
        padding: 7px 8px 6px 8px;
        border-radius: 4px;
        margin-right: 5px;
        margin-left: 5px;
        cursor: pointer;
        font-size: 13px;
    }
    .icon-comment{
        background: #f6f7fd;
        padding: 7px 8px 6px 8px;
        border-radius: 10px;
    }
    .user-feelings div .fa{
        font-size: 17px;
    }
    .commenter-image{
        width: 50px;
        height: 49px;
        border-radius: 100%;
        margin-left: 5px;
        margin-top: 5px;
    }
    .commenter-image img{
        border-radius: 100%;
    }
    .textarea-section{
        width: 100%;
        margin-right: 10px;
        margin-top: 3px;
    }
    .text-input textarea{
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
    }
    .text-input{
        border: 1px solid #d3d3d3;
        padding: 5px;
        border-radius: 4px;
        font-size: 13px;
        margin-left: 8px;
        margin-top: 4px;
        width: 100%;
        background: white;
    }
    .post{
        background: #f6f7fd;
        color: #041a2f;
        border-radius: 4px;
        padding: 5px 10px;
        border: none;
        margin-left: 5px;
        font-family: roboto_bold;
        margin-top: 4px;
        cursor: pointer;
    }
    .list-comments{
        border: 1px solid #d3d3d3;
        border-left: none;
        border-right: none;
        overflow: auto;
        height: 280px;
    }
    .timeline-image-poster{
        position: relative;
        margin: 0 auto;
        overflow-x: hidden;
        width: 100%;
        padding: 10px;
        height: 100%;
    }
    .timeline-image-poster::after{
        content: '';
        position: absolute;
        width: 6px;
        background-color: #041a2f;
        top: 0;
        bottom: 0;
        margin-left: 15px;
        height: 200px;
        padding: 2px
    }

    /* The actual timeline (the vertical ruler) */
    .timeline-comment {
        position: relative;
        margin: 0 auto;
        overflow-x: hidden;
        width: 100%;
        height: 100%;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline-comment::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: #041a2f;
        top: 0;
        bottom: 0;
        margin-left: -3px;
    }

    /* Container around content */
    .right-comment{
        padding: 10px 10px;
        position: relative;
        background-color: white;
            
    }

    /* Place the container to the right */
    .right-comment {
        left: 0.8%;
    }
    .content{
        border: 1px solid #d3d3d3;
        padding: 5px;
        border-radius: 4px;
        width: 100%;
    }
    .answerer-image{
        width: 50px;
        height: 45px;
        border-radius: 100%;
    }
    .answerer-image img{
        border-radius: 100%;
    }
    .answerer-name{
        font-family: roboto_bold;
        text-align: left;
        text-transform: capitalize;
    }
    .answer{
        background: #eaedfa;
        border-radius: 4px;
        padding: 5px;
        text-align: left;
        font-family: roboto_medium;
        font-size: 13px;
    }
    .accurancy div{
        background: #f6f7fd;
        padding: 4px 8px 4px 8px;
        border-radius: 10px;
        margin-right: 5px;
        margin-top: 3px;
        font-size: 13px;
        font-family: roboto_medium;
    }
    .accurancy div span{
        font-family: roboto_bold;
    }
    .comment-textarea-answer textarea{
        width: 100%;
        height: 100%;
        border: none;
        font-family: robot_medium;
    }
    .comment-textarea-answer{
        border: 1px solid #d3d3d3;
        border-radius: 4px;
        padding: 3px;
    }
    .submit-comments-post{
        background: #f6f7fd;
        padding: 5px 10px;
        color: #041a2f;
        font-family: roboto_bold;
        border-radius: 4px;
        border: none;
        font-family: 12px;
        cursor: pointer;
    }
    .comment-found-answer{
        padding: 6px;
    }
    #comment-found{
        overflow: auto;
        height: 200px;
        overflow-x: hidden;
    }
    #comment-found::-webkit-scrollbar {
        width: 7px;
    }
    /* Track */
    #comment-found::-webkit-scrollbar-track {
        background: white; 
    }
    /* Handle */
    #comment-found::-webkit-scrollbar-thumb {
        background: #eaedfa;
        border-radius: 4px; 
    }
    .each-comment-answer{
        background: white;
        border-right: 3px solid #041a2f;
    }
    .commenter-answer-img img{
        border-radius: 50%;
    }
    .commenter-answer-img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #f6f7fd;
        margin-top: 5px;
    }
    .inner-section-answer{
        background: #eaedfa;
        border-radius: 6px;
        padding: 7px;
        font-family: roboto_medium;
        font-size: 13px;
        margin-top: 10px;
    }
    .comment-add-comment{
        margin-top: 5px;
        display: flex;
    }
    .commeter-image-down img{
        border-radius: 50%;
    }
    .commeter-image-down{
        width: 40px;
        height: 40px;
        background: #f6f7fd;
        border-radius: 50%;
    }
    .textarea-add-comment textarea{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-family: roboto_medium;
    }
    .textarea-add-comment{
        border-radius: 4px;
        border: 1px solid #d3d3d3;
        padding: 5px;
        margin-left: 5px;
        width: 100%;
    }
    .post-comment-written{
        margin-left: 5px;
        margin-right: 3px;
        margin-top: 5px;
    }
    .post-comment-written button{
        background: #f6f7fd;
        color: #041a2f;
        padding: 6px;
        border-radius: 4px;
        cursor: pointer;
        outline: none;
        font-family: roboto_bold;
        text-transform: capitalize;
        border: none;
    }
    .comment-found-comment{
        border: 1px solid #d3d3d3;
        border-top: none;
        margin-top: 5px;
        border-radius: 4px;
    }
    .each-comment-found{
        border-top: 1px solid #d3d3d3;
        padding: 10px 5px;
        display: flex;
    }
    .commenter-image-found img{
        border-radius: 50%;
    }
    .commenter-image-found{
        width: 30px;
        height: 30px;
        background: #f6f7fd;
        border-radius: 50%;
    }
    .real-comment-found{
        font-family: roboto_medium;
        letter-spacing: 0.3px;
        line-height: 17px;
        margin-left: 5px;
        font-size: 12.5px;
    }
    .commeter-name_replied{
        margin-left: 5px;
        font-size: 13px;
        letter-spacing: 0.3px;
        font-family: roboto_bold;
    }
    .time-commented{
        font-family: roboto_bold;
        font-size: 12px;
        color: #d3d3d3;
        margin-left: 5px;
    }
    /* ====================================================================================================================================== */

    /* no media found div */
    /* ============================================================================================================================================= */
    .no-data-found{
        font-family: roboto_black;
        color: #d3d3d3;
        letter-spacing: 0.5px;
        font-size: 18px;
    }
    .no-data-found .fa{
        font-size: 30px;
        margin-bottom: 20px;
    }
    /* ERROR HANDLING */
    /* ==================================================================================================== */
    .Display_error {
        display: block;
        background: #071c2e;
        position: fixed;
        right: 100px;
        top:  300px;
        color: #89ff00;
        font-weight: 570;
        box-shadow: 0 0 10px rgba(0,0,0, 0.3);
        line-height: 19px;
        display: flex;
        border-radius: 4px;
    }
    .Display_error .error-icon{
        background: #08345e;
        padding: 10px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .check-word_error{
        font-family: roboto_bold;
        padding: 10px;
        letter-spacing: 0.5px;
        line-height: 19px;
        font-weight: 560;
    }
    /* =================================================================================================== */
    /* ============================================================================================================================================ */
    /* ============================================================================================================================================ */

    /* MEDIA QUERY APPLY ON SMAL DEVICE AND EXTRA DEVICE */
    /* =========================================================================================================================================== */
    /* =========================================================================================================================================== */
    @media screen and (max-width: 992px){
        .admin-panel{
            width: 250px;
        }
        .department-name-course{
            background: white;
            box-shadow: 0 0 1px rgba(0,0,0, 0.4),0 0 0px rgba(0,0,0, 0.4),0 0 15px rgba(0,0,0, 0.4);
            border-radius: 4px;
            margin-left: 10px;
            margin-top: 20px;
        }
        .pre-group-image{
            border-radius: 50%;
            width: 50px;
            height: 50px;
            background: #f6f7fd;
            margin-top: 5px;
            margin-left: 5px;
        }
        .group-name{
            font-family: roboto_bold;
            font-size: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 190px;
        }
        .services div{
            color: #071c2e;
            letter-spacing: 0.5px;
            text-transform: capitalize;
            font-family: roboto_bold;
            cursor: pointer;
            font-size: 12px;
        }
        .company{
            font-family: roboto_bold;
            margin-top: 5px;
            letter-spacing: 0.5px;
            color: #041a2f;
            font-size: 13px;
        }
        .user-accurancy{
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }
        .user-accurancy div{
            font-family: roboto_bold;
            padding: 4px 8px;
            background: #f6f7fd;
            border-radius: 4px;
            cursor: pointer;
            font-size: 13px;
        }
        .user-accurancy div .fa{
            font-size: 15px;
        }
        .add-comment-small{display: none;}
        .section-title{
            text-transform: capitalize;
            font-family: roboto_bold;
            font-size: 14px;
            background: #f6f7fd;
            border-radius: 4px;
            padding: 5px 10px 5px 10px;
            margin-top: 5px;
            display: flex;
            justify-content: space-between;
        }
        .Approved{
            font-family: roboto_bold;
            font-size: 14px;
            margin-bottom: 10px;
        }
        .member-img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #f6f7fd;
        }
        .member-name{
            font-family: roboto_bold;
            font-size: 13px;
        }
        .wait-approval-member{
            margin-left: 5px;
        }
        .member-name{
            font-family: roboto_bold;
            font-size: 15px;
            /* margin-top: 5px; */
        }
        .member-email{
            font-family: roboto_bold;
            font-size: 13px;
            width: 150px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .joined{
            display: none;
        }
        .fa-aling .fa-cog{
        display: none;
        }
    }
    @media screen and (max-width: 768px){
        .admin-panel{display: none;}
        .fa-aling .fa-cog{
            display: block;
        }
        .department-name-course{
            background: white;
            box-shadow: 0 0 1px rgba(0,0,0, 0.4),0 0 0px rgba(0,0,0, 0.4),0 0 15px rgba(0,0,0, 0.4);
            border-radius: 4px;
            margin-left: 0px;
            margin-top: 20px;
        }
        .admin-tools-list li a{
            font-size: 12px;
        }
        .group-element{display: none;}
        .group-element li a{
            display: none;
        }
        .search-member input{background: white;width: 100%;height: 100%;}
        .search-member{
            padding: 10px;
            border-radius: 4px;
            width: 600px;
        }
        .search-member .fa{
            margin-top: 2px;
        }
        .group-name-admin{
            line-height: 17px;
            margin-top: 10px;
        }
        /* #Companion,#Courses,#Trainers,#media{
            width: 650px;
        } */
        .each-member{
            width: 100%;
    }
    .member-img img{
        border-radius: 50%;
    }
    .member-img{
        width: 60px;
        height: 59px;
        border-radius: 50%;
        background: #f6f7fd;
    }
    .member-detail{
        margin-left: 5px;
        letter-spacing: 0.5px;
    }
    .member-name{
        font-family: roboto_bold;
        font-size: 15px;
    }
    .member-email{
            font-family: roboto_bold;
            font-size: 13px;
            width: 100%;
        }
    .joined{
            display: block;
        }
        .each-conf:hover{
            background: #f6f7fd;
            color: #041a2f;
            border-radius: 4px;
        }
        .group-name-admin{
            color: white;
            letter-spacing: 0.4px;
            margin-top: 12px;
        }
        .videos-shared-post div .inner-video{
            width: 100%;
            height: 150px;
            background: #f6f7fd;
            border-radius: 4px;
            float: left;
            margin: 10px 8px;
        }
        .control-video{
            position: absolute;
            top: 30%;
            left: 40%;
            padding: 16px 20px 15px 20px;
            border-radius: 50%;
            color: white;
            cursor: pointer;
            font-size: 40px;
            animation: fade 500ms ease-in-out forwards;
        }
        .videos-shared-post{width: 100%;}
        .control-media{
            position: absolute;
            top: 25%;
            left: 35%;
            padding: 16px 20px 15px 20px;
            border-radius: 50%;
            color: white;
            cursor: pointer;
            font-size: 40px;
            animation: fade 500ms ease-in-out forwards;
        }
    }
    @media screen and (max-width: 445px){
        .top-background{
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            background: #f6f7fd;
            height: 200px;
            border: none;
        }
        .group-name-title{
            font-size: 15px;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 235px;
            overflow: hidden;
        }
        .invite-friend{
            background: #041a2f;
            border: none;
            outline: none;
            color: white;
            font-family: roboto_bold;
            border-radius: 4px;
            padding: 3px 7px;
            margin-right: 5px;
            margin-top: 1px;
            cursor: pointer;
            font-size: 12px;
        }
        .settings-and-info{
            box-shadow: 0 0 1px rgba(0,0,0, 0.4),0 0 0px rgba(0,0,0, 0.4),0 0 10px rgba(0,0,0, 0.4);
            border-radius: 4px;
            position: absolute;
            right: 10px;
            background: white;
            z-index: 99;
            top: 0px;
            width: 300px;
            padding: 0 0 5px 0;
            display: none;
        }
        .updated-time{
            font-size: 12px;
        }
        .user-accurancy div span{
            font-size: 12px;
        }
        .caption-require{
            font-size: 14px;
        }
        .add-comment-small{
            display: block;
            font-size: 12px;
        }
        .add-comment{
            display: none;
        }
        .real-comment{font-size: 14px;}
        .pre-accurate{display: none;}
        .video-controls{
            width: 100%;
            position: absolute;
            bottom: 0;
            color: white;
            padding: 0px 10px;
            font-family: roboto_bold;
            animation: fade 1000ms ease-in-out forwards;
            background: none;
        }
        .control-video{
            position: absolute;
            top: 25%;
            left: 40%;
            padding: 16px 20px 15px 20px;
            border-radius: 50%;
            color: white;
            cursor: pointer;
            font-size: 30px;
            animation: fade 500ms ease-in-out forwards;
        }
        .mute-unmute{
            margin-left: 10px;
            font-size: 15px;
            cursor: pointer;
        }
        .video-status{margin: 0;}
        #currentTime{font-size: 12px;}

        .stuts{display: none;} */
        .course-department{width: 345px;}
        .wait-approval-member{display: none;}
        .member-img{
            width: 50px;
            height: 50px;
        }
        .Approved{display: none;}
        .control-media{
            position: absolute;
            top: 27%;
            left: 30%;
            padding: 16px 20px 15px 20px;
            border-radius: 50%;
            color: white;
            cursor: pointer;
            font-size: 30px;
            animation: fade 500ms ease-in-out forwards;
        }
        .controls-down{display: none;}
    }
    @media screen and (max-width: 375px){
        .course-department{width: 330px;}
        .poster-img{
            background: #f6f7fd;
            border-radius: 50px;
            width: 40px;
            height: 40px;
        }
        #pre_accu{
            display: none;
        }
        .full-post{
            width: 260px;
        }
        .commenter-image{
            width: 40px;
            height: 40px;
            border-radius: 100%;
            margin-left: 5px;
            margin-top: 0px;
        }
        .search-member{
            border-radius: 4px;
        }
    }
    /* END MEDIA QUERY */
    /* =========================================================================================================================================== */
    /* =========================================================================================================================================== */