    /* 
        //////////////////////////////////////////////////////

        INTELLIGENT BOX
        DESIGNED & DEVELOPED by Manirabona Patience
        
        author: Mnirabona Patience,
        Email:  Hseal419@gmail.com,
        location: Kigali,Rwanda,
        pro: Intelligent Box E-learning,
        version: 1.0.0
        
        //////////////////////////////////////////////////////
    */

    /* external font family */
    /* =================================================================================================================================================== */
    /* =================================================================================================================================================== */
    @font-face {font-family: 'roboto_bold';src: url('../fonts/Roboto/Roboto-Bold.ttf');} 
    @font-face{font-family: 'roboto_regular';src: url('../fonts/Roboto/Roboto-Regular.ttf');}
    @font-face{font-family: 'baskvile';src: url('../fonts/baskerville/BASKVILL.TTF');}
    @font-face{font-family: 'roboto_medium';src: url('../fonts/Roboto/Roboto-Medium.ttf');}

     /* width */
     ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: white; 
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #041a2f;
        border-radius: 4px; 
    }

    /* basic style */
    /* ==================================================================================================================================================== */
    .title_logo{
        background: #041a2f;
        padding: 20px 15px 20px 15px;
        width: 100%;
        text-align: center;
        color: white;
        position: relative;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .pre_logo{
        font-family: roboto_bold;
        font-size: 40px;
        opacity: .6;
        letter-spacing: 0.5;
        text-transform: capitalize;
    }
    .logo{
        position: absolute;
        font-size: 18px;
        font-family: roboto_bold;
        text-transform: capitalize;
        top: 24px;
        right: 45%;
    }

    .first_state{
        display: flex;
        margin-top: 20px;
        margin-left: 50px;
    }
    .each_counter{
        background: #f7f6fd;
        padding: 5px;
        border-radius: 50%;
        position: absolute;
        left: -50px;
        z-index: 99;
    }
    .count_state{
        background: #041a2f;
        color: white;
        font-family: roboto_bold;
        font-size: 50px;
        padding: 40px 35px;
        border-radius: 50%;
    }
    .number{
        opacity: .5;
    }
    .title_states{
        background: #041a2f;
        padding: 20px 15px;
        text-align: center;
        vertical-align: middle;
        margin-top: 27px;
        position: relative;
        width: 100%;
    }
    .pre_privacy{
        font-family: roboto_bold;
        font-size: 20px;
        opacity: .5;
        color: white;
        /* margin-top: 15px; */
    }
    .privacy_pre{
        font-family: roboto_bold;
        font-size: 18px;
        position: absolute;
        right: 43%;
        top: 25px;
        color: white;
        text-align: center;
        margin-left: 20px;
        display: none;
    }
    .states{
        font-family: roboto_medium;
        margin-top: 10px;
        letter-spacing: 0.3px;
    }
    .states p{
        line-height: 23px;
        margin-left: 50px;
    }
    .info{
        overflow: hidden;
        margin-left: 50px;
    }
    .email{
        background: #041a2f;
        color: white;
        font-family: roboto_bold;
        text-transform: capitalize;
        padding: 5px 9px;
        border-radius: 5px;
        width: auto;
        float: left;
        margin-right: 10px;
    }
    .title_end{
        background: #041a2f;
        padding: 20px 15px 20px 15px;
        width: 100%;
        text-align: center;
        color: white;
        position: relative;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        margin-top: 30px;
    }